<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/customer.css">
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <meta charset="utf-8">

    <title>Assistaroo | Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f71a69ec33.js"></script>

    <script src="js/scripts.js"></script>

</head>




<body>

<form action='/charge' method='POST' id='checkout-form'>
    <input type='hidden' th:value='${amount}' name='amount' />
    <label><span th:text='${amount}' /></label>



    <script
            src='https://checkout.stripe.com/checkout.js'
            class='stripe-button'
            th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
            data-name='Assistaroo's
            data-description='Assistaroo CheckOut'
            data-image='https://www.iconsdb.com/icons/preview/color/E65C00/home-5-xxl.png'
            data-locale='auto'
            data-zip-code='false'>
    </script>
</form>
</body>

</html>

    <!--

    REFERENCES:
    Baeldung.2019.Introduction to the Stripe API for Java.Available at: https://www.baeldung.com/java-stripe-api.
    [Accessed: 24 August 2019]

    Image Credits:
    Home Icon adopted from iconsDB.com
    Available at:https://www.iconsdb.com/icons/preview/color/E65C00/home-5-xxl.png
    [Accessed: 13 September 2019]

    -->