<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/css/customer.css">
    <link rel="stylesheet" type="text/css" href="/css/supplier-details.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <title>Assistaroo | Sole-Trader-Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f71a69ec33.js"></script>

    <!-- Custom JS -->
    <script src="js/scripts.js"></script>
    <script src="../static/js/supplier-details.js"></script>
</head>
<body>
<header id="main-header">

    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse_target">

            <a class="navbar-brand" href="/assistaroo">
                <img src="https://image.flaticon.com/icons/svg/149/149412.svg" alt="logo" style="width:30px;">
                <span>Assistaroo</span>
            </a>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/supplierHome/__${supplierID}__}">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/supplierMyDetails/__${supplierID}__}">My Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/supplierMyActivity/__${supplierID}__}">My Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/supplierMyFeedback/__${supplierID}__}">My Feedback </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../faq.html">Help & Advice</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" action="/logout" method="post">
                        <button type="submit" class="btn">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>

    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>My Details</h1>
        </div>
    </div>
</div>

<main>

    <!-- Grid row -->
    <div class="row accordion-gradient-bcg d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-md-12 col-xl-10 py-5">

            <!--Accordion wrapper-->
            <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist"
                 aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
                        <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
                           aria-controls="collapse1">
                            <h4 class="mb-0 white-text font-thin">
                                Personal Information<i class="fas fa-angle-down rotate-icon accordion-icon"></i>
                            </h4>

                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
                         data-parent="#accordionEx7">
                        <div class="card-body mb-1 rgba-grey-light white-text">
                            <!-- Personal Information Table -->
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-4">
                                            <!--<button type="button" class="btn add-new" id="add-new-general-detail"><i class="fa fa-plus"></i> Add New Information</button>-->
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="general-details-table" th:each="supplier : ${supplierDetails}">
                                    <tr>
                                        <th>Username</th>
                                        <td th:text="${supplier.userName}"></td>
                                        <!--<td>-->
                                        <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                        <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                        <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>First Name</th>
                                        <td th:text="${supplier.firstName}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td th:text="${supplier.lastName}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td th:text="${supplier.address}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>Postcode</th>
                                        <td th:text="${supplier.postcode}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td th:text="${supplier.phone}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->

                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td th:text="${supplier.email}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>DBS Reference Number</th>
                                        <td th:text="${supplier.DBSreferenceNumber}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>Public Liability Insurance Number</th>
                                        <td th:text="${supplier.PublicLiabilityInsurance}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <th>Area of Operation</th>
                                        <td th:text="${supplier.areaOfOperation}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
                           aria-expanded="false" aria-controls="collapse2">
                            <h4 class="mb-0 white-textfont-thin">
                                Service Details <i class="fas fa-angle-down rotate-icon accordion-icon"></i>
                            </h4>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
                         data-parent="#accordionEx7">
                        <div class="card-body mb-1 rgba-grey-light white-text">
                            <!-- Service Details Table -->
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-4">
                                            <!--<button type="button" class="btn add-new" id="add-service-detail"><i class="fa fa-plus"></i> Add Services</button>-->
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="service-details-table">
                                    <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Price (£)</th>
                                        <!--<th>Actions</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="service : ${supplierServices}">
                                        <td th:text="${service.description}"></td>
                                        <td th:text="${service.name}"></td>
                                        <td th:text="${service.price}"></td>
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

                <!--&lt;!&ndash; Accordion card &ndash;&gt;-->
                <!--<div class="card">-->

                    <!--&lt;!&ndash; Card header &ndash;&gt;-->
                    <!--<div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">-->
                        <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"-->
                           <!--aria-expanded="false" aria-controls="collapse3">-->
                            <!--<h4 class="mb-0 white-text  font-thin">-->
                                <!--Account Details<i class="fas fa-angle-down rotate-icon accordion-icon"></i>-->
                            <!--</h4>-->
                        <!--</a>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Card body &ndash;&gt;-->
                    <!--<div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"-->
                         <!--data-parent="#accordionEx7">-->
                        <!--<div class="card-body mb-1 rgba-grey-light white-text">-->
                            <!--&lt;!&ndash; Account Details Table &ndash;&gt;-->
                            <!--<div class="table-wrapper">-->
                                <!--<div class="table-title">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-8"></div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<table class="table table-bordered" id="account-details-table">-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th>Username</th>-->
                                        <!--<th>Email Address</th>-->
                                        <!--<th>Password</th>-->
                                        <!--<th>Edit</th>-->

                                    <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>John Doe</td>-->
                                        <!--<td>#### #### #### ####</td>-->
                                        <!--<td>11/12/13</td>-->
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->

                                        <!--</td>-->

                                    <!--</tr>-->

                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!-- Accordion card -->
                <!--&lt;!&ndash; Accordion card &ndash;&gt;-->
                <!--<div class="card">-->

                    <!--&lt;!&ndash; Card header &ndash;&gt;-->
                    <!--<div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading4">-->
                        <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse4"-->
                           <!--aria-expanded="false" aria-controls="collapse4">-->
                            <!--<h4 class="mb-0 white-text  font-thin">-->
                                <!--Billing Information<i class="fas fa-angle-down rotate-icon accordion-icon"></i>-->
                            <!--</h4>-->
                        <!--</a>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Card body &ndash;&gt;-->
                    <!--<div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4"-->
                         <!--data-parent="#accordionEx7">-->
                        <!--<div class="card-body mb-1 rgba-grey-light white-text">-->
                            <!--&lt;!&ndash; Financial Details Table &ndash;&gt;-->
                            <!--<div class="table-wrapper">-->
                                <!--<div class="table-title">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-8"></div>-->
                                        <!--<div class="col-sm-4">-->
                                            <!--<button type="button" class="btn add-new" id="add-credit-card"><i class="fa fa-plus"></i> Add Credit Card</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<table class="table table-bordered" id="billing-details-table">-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th>Name on Credit Card</th>-->
                                        <!--<th>Credit Card Number</th>-->
                                        <!--<th>Expiry Date</th>-->
                                        <!--<th>Actions</th>-->

                                    <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>John Doe</td>-->
                                        <!--<td>#### #### #### ####</td>-->
                                        <!--<td>11/12/13</td>-->
                                        <!--<td>-->
                                            <!--<a class="add" title="Add" data-toggle="tooltip"><i class="fal fa-save"></i></a>-->
                                            <!--<a class="edit" title="Edit" data-toggle="tooltip"><i class="fal fa-edit"></i></a>-->
                                            <!--<a class="delete" title="Delete" data-toggle="tooltip"><i class="fal fa-trash-alt"></i></a>-->
                                        <!--</td>-->

                                    <!--</tr>-->

                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Accordion card &ndash;&gt;-->

            </div>
            <!--/.Accordion wrapper-->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->


</main>

<footer class="page-footer" >

    <div class="container text-md-left  mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


                <h6 class="font-weight-bold footer-header">Assistaroo.com</h6>
                <hr class=" footer-hr" />
                <p>UK's first app that connects consumers with multiple home and personal
                    care support service suppliers, through a centralised and safe market place.</p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">


                <h6 class="font-weight-bold footer-header">EVENTS</h6>
                <hr class="footer-hr" />
                <ul class="footer-list">
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>

                </ul>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">


                <h6 class=" font-weight-bold footer-header">QUICK LINKS</h6>
                <hr class="footer-hr" />
                <p><a href="../about-us.html" target="_blank">About Us</a>

                </p>
                <p><a href="../faq.html" target="_blank">Help</a>

                </p>
                <p><a href="../termsandconditions" target="_blank">Terms and Conditions</a>

                </p>
                <p><a th:href="@{/supplierMyDetails/__${supplierID}__}">Manage Account</a>

                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">


                <h6 class=" font-weight-bold footer-header">CONTACT US</h6>
                <hr class="footer-hr" />
                <p><i class="fal fa-home-lg"></i>South wales UK</p>
                <p>
                    <i class="fal fa-envelope"></i>info@assistaroo.com</p>
                <p>
                    <i class="fal fa-phone"></i> +447-45-56-56 </p>
                <p>
                    <i class="fal fa-fax"></i>+447-34-34-34</p>

            </div>


        </div>


    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; Assitaroo.com 2019. All rights reserved
    </div>


</footer>


</div>
</body>

</html>

<!-- Accordion Code adapted from
https://mdbootstrap.com/docs/jquery/javascript/accordion/
[Accessed: 07 August 2019]
-->

<!-- Bootstrap Table with JS(in supplier-details.js) and CSS(added to customer.css) adapted from
Tutorial Republic.2019.Bootstrap Table with Add and Delete Row Feature.
Available at: https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=table-with-add-and-delete-row-feature
[Accessed: 07 August 2019]
-->