<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>


<body>

<h3 th:if='${error}' th:text='${error}' style='color: red;'></h3>
<div th:unless='${error}'>
    <h3 style='color: green;'>Success!</h3>
    <div>Id.: <span th:text='${id}' /></div>
    <div>Status: <span th:text='${status}' /></div>
    <div>Charge id.: <span th:text='${chargeId}' /></div>
    <div>Balance transaction id.: <span th:text='${balance_transaction}' /></div>
</div>
<a href='/checkout.html'>Checkout again</a>


</body>
</html>


   <!--

   REFERENCES:
   Baeldung.2019.Introduction to the Stripe API for Java.Available at: https://www.baeldung.com/java-stripe-api.
   [Accessed: 24 August 2019]

   -->