<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supplier's Activity</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/supplier_my_activity.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--Load the AJAX API (developers.google.com, 2017a)-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package (developers.google.com, 2017a)
        google.charts.load('current', {'packages':['corechart','bar']});

        // Set a callback to run when the Google Visualization API is loaded (developers.google.com, 2017a)
        google.charts.setOnLoadCallback(drawPieChart);
        google.charts.setOnLoadCallback(drawHistogram);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it (developers.google.com, 2017a)
        function drawPieChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Service');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Washing', 4],
                ['Ironing', 5],
                ['Window cleaning', 1],
                ['Garden', 2]
            ]);

            // Set chart options
            var options = {'title':'Percentage Of Bookings Per Service',
                'width':600,
                'height':500};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
            chart.draw(data, options);
        }

        // (developers.google.com, 2017b)
        function drawHistogram() {

            // Create the data table.
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Washing', 'Ironing', 'Window cleaning', 'Garden'],
                ['June', 80, 100, 15, 20],
                ['July', 100, 120, 60, 10],
                ['August', 60, 110, 80, 10]
            ]);

            // Set chart options
            var options = {'title':'Income for Each Service (in £)',
                'width':500,
                'height':400};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.charts.Bar(document.getElementById('histogram_div'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">

        <a class="navbar-brand" href="/assistaroo">
            <img src="https://image.flaticon.com/icons/svg/149/149412.svg" alt="logo" style="width:30px;">
            <span>Assistaroo</span>
        </a>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/supplierHome/__${supplier_id}__}">My Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/supplierMyDetails/__${supplier_id}__}">My Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/supplierMyActivity/__${supplier_id}__}">My Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/supplierMyFeedback/__${supplier_id}__}">My Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../faq.html">Help & Advice</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" action="/logout" method="post">
                    <button type="submit" class="btn">Log Out</button>
                </form>
            </li>

        </ul>
    </div>

</nav>

<h1>My Activity</h1>

<div class="flex-container">
    <!--Divs that will hold the pie chart and bar chart-->
    <div id="pie_chart_div"></div>
    <div id="histogram_div"></div>
</div>

<footer class="page-footer" >

    <div class="container text-md-left  mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


                <h6 class="font-weight-bold footer-header">Assistaroo.com</h6>
                <hr class=" footer-hr" />
                <p>UK's first app that connects consumers with multiple home and personal
                    care support service suppliers, through a centralised and safe market place.</p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">


                <h6 class="font-weight-bold footer-header">EVENTS</h6>
                <hr class="footer-hr" />
                <ul class="footer-list">
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>
                    <li><a href=''></a></li>

                </ul>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">


                <h6 class=" font-weight-bold footer-header">QUICK LINKS</h6>
                <hr class="footer-hr" />
                <p><a href="../about-us.html" target="_blank">About Us</a>

                </p>
                <p><a href="../faq.html" target="_blank">Help</a>

                </p>
                <p><a href="../termsandconditions" target="_blank">Terms and Conditions</a>

                </p>
                <p><a th:href="@{/supplierMyDetails/__${supplier_id}__}">Manage Account</a>

                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">


                <h6 class=" font-weight-bold footer-header">CONTACT US</h6>
                <hr class="footer-hr" />
                <p><i class="fal fa-home-lg"></i>South wales UK</p>
                <p>
                    <i class="fal fa-envelope"></i>info@assistaroo.com</p>
                <p>
                    <i class="fal fa-phone"></i> +447-45-56-56 </p>
                <p>
                    <i class="fal fa-fax"></i>+447-34-34-34</p>

            </div>


        </div>


    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; Assitaroo.com 2019. All rights reserved
    </div>


</footer>


</body>
</html>

<!-- References:
     developers.google.com. 2017a. Quick Start  |  Charts  |  Google Developers. Available at:
     https://developers.google.com/chart/interactive/docs/quick_start [Accessed: 18 August 2019].  I have adapted the
     example to create the pie chart.

     developers.google.com. 2017b. Visualization: Column Chart  |  Charts  |  Google Developers. Available at:
     https://developers.google.com/chart/interactive/docs/gallery/columnchart [Accessed: 18 August 2019].  I have
     adapted the example to create the bar chart.
-->