/* CONTACT FORM */

#contactform {
    background-color: darkgrey;
    padding: 20px;
}

/* CONTACT DETAILS */

#contactdetails {
    padding: 20px;
}

td {
    padding-right: 50px;
}

/* CONTACT IMAGE */

#contactimage {
    width: 100%;
}

/* AD SPACE */

.btn{
    background-color: #e65c00;
    color: white;
}