/* NAV BAR */

.navbar{
    background-color: #e65c00;
}

.navbar-light .navbar-nav .nav-link{
    color: white;

}
.nav-link:hover{
    color:black;

}

.navbar .login-container {
    float: right;
}

.navbar .form-group {
    padding: 2px;
}

.navbar .btn {
    background-color: darkgrey;
    color: white;
}

/* HEADINGS */

h1 {
    color: darkgrey;
    text-align: center;
    padding: 20px;
    padding-top:150px;
}

h2 {
    color: #e65c00;
    text-align: center;
    padding: 20px;
}

/* GOLD STARS*/

.checked { /* stars */
    color: gold;
}

.adspace {
    border-color: black;
    border-style: solid;
    padding: 20px;
    height: 550px;
}

/*SUPPLIER MY FEEDBACK PAGE*/

.supplierreviewtable th  {
    padding: 7px;
    text-align: center;
    background-color: #e65c00;
    color: white;
    border: 1px solid darkgrey;
}

.supplierreviewtable td {
    padding: 7px;
    border: 1px solid darkgrey;

}