
body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: #e65c00;
}
* {box-sizing: border-box}

form{
    border:1px solid #ccc;
    width: 50%;
    margin: 30px auto;
    background-color: white;
    padding: 40px;
}
h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    /*font-family: Raleway;*/
    border: 1px solid #aaaaaa;
}
input.invalid {
    background-color: #ffdddd;
}



button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    /*font-family: Raleway;*/
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
#signupbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #29a329;
}
#terms{
    width:auto;
}
a{
    color: blue;
}
