.flex-container {
    display: flex;
}

g > text{
    -webkit-font-smoothing: antialiased;
    font-family: Roboto;
    font-size: 16px;
    fill: black;
    dx: 0px;
    font-weight: normal;
}

#pie_chart_div, #histogram_div {padding: 0% 5%}