body {margin: 1% 4% 1% 4%}
.fc-unthemed td.fc-today {background-color: #e65c00} /* Override cell's background colour for today's date */
table{
    table-layout: fixed;
}
table, td {border: 1px solid black;}

/*(fullcalendar.io, 2019)*/
html, body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.colour-key, td#red, td#blue, td#green {
    height: 50px;
    width: 50px;
    text-align: center;
}
.red {background-color: #fd1c1e}
.blue {background-color: #51a5ff}
.green {background-color: #61ef43}

/*(fullcalendar.io, 2019)*/
.popper,
.tooltip {
    position: absolute;
    z-index: 9999;
    color: black;
    background-color: white;
    border-color: white;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}

/*(fullcalendar.io, 2019)*/
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}
/*(fullcalendar.io, 2019)*/
.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

/*(fullcalendar.io, 2019)*/
.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}

/*(fullcalendar.io, 2019)*/
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

/*(fullcalendar.io, 2019)*/
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

/*(fullcalendar.io, 2019)*/
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

/*(fullcalendar.io, 2019)*/
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

/*(fullcalendar.io, 2019)*/
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

/*(fullcalendar.io, 2019)*/
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

/*(fullcalendar.io, 2019)*/
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

/*(fullcalendar.io, 2019)*/
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.flex-container {
    display: flex;
}

#sidebar {
    padding: 10% 3% 10% 3%;
    align-content: center;
}

#availability {padding: 10% 0% 10% 0%} /* Position availability button */

#availability-days-hours, #confirm-availability {
    display: none;
    padding: 3% 1% 1% 10%;
}

#colour-scheme {
    display: none
}


#event-details, .save-changes {
    display: none;
    padding: 1% 1% 1% 1%;
    text-align: center
}

.orange{color: #e65c00}

li {
    padding: 2% 0% 2% 0%;
    font-size: 1em;
    list-style: none;
    text-align: center
}

ul {padding: 0%}

#event-details-title {
    font-size: 1.5em;
    padding: 5%
}

#event-information {
    padding: 5% 0% 5% 0%;
    text-align: center
}

/* References:
   fullcalendar.io 2019 Event tooltip with eventRender - Demos | FullCalendar. Available at:
   https://fullcalendar.io/docs/event-tooltip-demo [Accessed: 10 July 2019].  I have used the CSS to design and position
   the tooltip, and to change text style.
*/

