
/*** Company and Sole Trader Details ****/

h1 {
    margin-left: 15px;
    margin-bottom: 20px;
}
body{
    overflow-x: hidden;
}

/*** Accordion  ***/
.accordion{
    margin-top: 4em;
    width: 85vw;
    margin-left: -2%;
    z-index: 0;
}

.card-header{
    border: 0;
}
.card-header>a>h4{
    font-size: 1.1em;
}
.card-text >li> a{
    color: #fff;
    text-decoration: none;

}
.accordion-icon{
    float: right;
}
.pt-3-half {
    padding-top: 1.4rem;
}

.table-wrapper {
    width: 100%;
    margin: 1em auto;
    background: #fff;
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    background-color: #e65c00;
    color: #fff;
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.fa{
   color: #e65c00;
}
.preloader{
    visibility: hidden;
    margin-bottom: 0.3em;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}


@media only screen and (max-width: 992px) {
    .accordion{
        margin-top: 5em;
        width: 85vw;
        margin-left: 7%;
    }
}
@media only screen and (max-width: 1200px) {
    .accordion{
        margin-left: 7%;
    }
}
@media only screen and (max-width: 600px) {
    .accordion{
        margin-top: 5em;
    }
}

/***footer ***/
.page-footer{
    margin-top: 10em;
}