

/****** Generic styles *********/
.left {float:left}
.right {float:right}
.text-center{
  text-align: center;
}
a{
  text-decoration: none;
}
svg{
  fill: #e65c00;
}


  body{
    overflow-x: -moz-scrollbars-none;
    overflow-x: hidden;
  }

/****** Header *********/
#mobile-menu{
  display:none;
}

#mobile-menu-items{
  visibility: hidden;
  background-color: #eee;
  color: #e65c00;
  width: 40%;
  height: 48vh;
  position: fixed;
  top: 0;
  left: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#mobile-menu-items >ul>li{
  list-style:none;
  padding: 0.6em;
  cursor: pointer;
  width: 73%;
}

#mobile-menu-items >ul>li:hover{
  color: #fff;
  background-color: #e65c00;
  border-radius: 1em;
}

#mobile-menu >h1{
 font-size: 1.7em;
 margin-left: 25%;
  top: 0;
}
.nav {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 1em;
  border: #fff 1px solid;
  padding: 0.35em;
  border-radius: 0.3em;
}

.bar1, .bar2, .bar3 {
  width: 2em;
  height: 0.25em;
  background-color: #fff;
  margin: 0.3em 0;
  transition: 0.4s;
}

.tabs:hover{
 background-color: #fafafa;
  color: #e65c00;
  text-transform: none;
  border-radius: 0.5em;
}
  .sub-header{
    background-color:#e65c00;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    margin-bottom: 1.5vh;
    color: #ffffff;
    font-size: x-large;
    height: 6vh;
  }
  .categories-sub-header{

    margin-left: 2.5vw;
    padding-left: 1vw;
    text-align: left;
    width: 62.4vw;
  }


#search{
  width: 27%;
  position: fixed;
  margin-left: 72%;
  top: 1.1em;
  z-index: 2;
}
#gsc-i-id1.gsc-input{
  height:3em;
}

  /****** main content *********/
@media only screen and (max-width: 768px) {
  #main-service-category {
    font-size: 0.8em;
  }

}

#geolocation-support{
  position: absolute;
}
.caption{
  margin-top: 1em;
}
  .services{
    background-color: #fafafa;
    height: 30vh;
    position: fixed;
    top: 15vh;
    width: 100vw;
    z-index: 2;
  }


  .fal{
    color: grey;
  }


  .title{
    background-color: #e65c00;
    color: #fafafa;
    display: flex;
    font-size: 1em;
    max-height:15vh;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    max-width: 50vw;
    min-width: 13vw;
  }
  .image{
    border-left: lightgrey 1px solid;
    height: 41.3vh;
    width: 48vw;
    float: right;
  }

  .introduction{

    float: left;
    font-size: large;
    height: 41.3vh;
    padding: 2em;
    text-align: justify;
    width: 35vw;
  }
  .background{

    float: left;
    font-size: large;
    height: 82vh;
    padding: 2em;
    text-align: justify;
    width: 23vw ;
  }

#left-button,#right-button{
  color: darkgray;
  border: 0;
  border-radius: 0.2em;
  background-color:#eee;
  height: 4em;
  position:absolute;
  width: 3em;

}
#left-button{
  margin-left: 0.1%;
}
#right-button{
 margin-left: 97%;
}

#scroll-buttons{
  margin-top: 3.5em;
  position: absolute;
  width: 100%;
  z-index: 1;
}

  .sidebar {
    color: lightgrey;
    height: 41.45vh;
    marginBottom: '3vh';
    padding: 2px;
    textAlign: 'center';
  }

#postcode-popup{
  width: 35%;
  height: 30vh;
  background-color: #e65c00;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  align-content: center;

}
#postcode-popup>table{

  margin-left: auto;
  margin-right: auto;
}
  /****** footer *********/
  .page-footer{
    background-color:#eeeeee;
    position: relative;
    margin-top: 75em;
  }
.footer-copyright{
  background-color:#e65c00;
  color: #fff;
}
.footer-list{
  list-style: none;
  text-align: left;
}
.footer-row>div>p{
  padding: 0.1em;
}

.footer-row>div >p:hover{
  cursor: pointer;
  background-color:#e65c00;
  color: #fff;
  border-radius: 0.2em;
  .footer-item{
    background-color:#e65c00;
    color: #fff;
  }
}


.footer-row>div >p>.footer-item{
  color: #e65c00;
}

.footer-header{
  color:#e65c00;
}

.footer-hr{
  background-color:#e65c00;
  width: 60px;
}
.footer-item{
  margin-right: 0.3em;
}

@media (max-width: 600px) {
.main-navbar{
  display: none;

}
  #mobile-menu{
    display:block;
  }


}
@media (max-width: 768px) {

  #left-button,
  #right-button{
    width: 1.8em;
    height: 2.2em;
    z-index: 0;
  }
  #postcode-popup{
    width: 80%;

  }

}

@media (max-width: 992px) {
  .categories-sub-header{
    padding-left: 1vw;
    text-align: left;
    width: 93vw;
    margin-left: 0;
    margin-top: 1vh;
  }
  #search {
    background-color: #fff;
    width: 90%;
    position:relative;
   top: 3.1em;
    z-index: 1;

  }
  .gsc-control-cse.gsc-control-cse-en{
    background-color: #fff;
    border-color: #fff;
    height: 0.6em;
    width: 100%;
    margin-left: 0.5%;

  }
  /*#gsc-iw-id1.gsc-input-box{
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
  } */
  #gsc-iw-id1.gsc-input-box{
 border-radius: 0.5em;
    height:2.5em;
    border-right: #fff;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    padding: 0;

}
.gsc-search-button.gsc-search-button-v2{

  border-left: 0;
  border-color: #e65c00;
  height: 5.4vh;
}
  #gsc-i-id1.gsc-input{
    height:3em;
  }

  #scroll-buttons{
    margin-top: 2.5em;
  }


}

@media (min-width: 1200px) {  }

