/* NAV BAR */

.navbar{
    background-color: #e65c00;
}

.navbar-light .navbar-nav .nav-link{
    color: white;

}
.nav-link:hover{
    color:black;

}

.navbar .login-container {
    float: right;
}

.navbar .form-group {
    padding: 2px;
}

.navbar .btn {
    background-color: darkgrey;
    color: white;
}

/* HEADINGS */

h1 {
    color: darkgrey;
    text-align: center;
    padding: 20px;
    padding-top:60px;
}

h2 {
    color: #e65c00;
    text-align: center;
    padding: 20px;
}

